// @import url("https://fonts.googleapis.com/css2?family=Madimi+One&display=swap");

// how to use locally downloaded font in css
// @font-face {
//   font-family: MadimiOne-Regular;
//   src: url("./fonts/MadimiOne-Regular.ttf");
// }

header {
  //   .explore-packages {
  //     background-color: #8b3eea;
  //     color: white !important;
  //     border-radius: 5px;
  //   }
  // font-family: "MadimiOne-Regular", sans-serif;
  // font-weight: 400;

  // .navbar-nav .nav-link.active,
  // .navbar-nav .nav-link.show {
  //   color: #8b3eea;
  // }

  .navbar {
    background-color: #ffffff;
    height: 5rem;
    border-bottom: 1.6px solid #e7e7e7;
  }

  .nav-link{
    color: #314d8d;
  }

  .explore-packages-btn{
    background-color: #8b3eea;
    border-radius: 5px;
    color: white;
    border: 2px solid #8b3eea;
    
    &:hover  {
      background-color: #ffffff;
      color: #2b2540;
      padding: 7px 10px;
      cursor: pointer;
      transition: .4s all ease-in-out;
    }
  }
}
