// @import url("https://fonts.googleapis.com/css2?family=Madimi+One&display=swap");

// how to use locally downloaded font in css
// @font-face {
//   font-family: MadimiOne-Regular;
//   src: url("./fonts/MadimiOne-Regular.ttf");
// }

header {
  // font-family: "MadimiOne-Regular", sans-serif;

  .navbar {
    background-color: #ffffff;
    height: 5rem;
    border-bottom: 1.6px solid #e7e7e7;
    font-weight: 400;
  }

  .navbar-toggler {
    &:focus {
      box-shadow: none;
    }
  }

  .nav-link {
    color: #2b2540;
  }

  .explore-packages-btn {
    background-color: #8b3eea;
    border-radius: 5px;
    color: white;
    border: 2px solid #8b3eea;

    &:hover {
      background-color: #ffffff;
      color: #2b2540;
      padding: 7px 10px;
      cursor: pointer;
      transition: 0.4s all ease-in-out;
    }
  }
}
