.home-page {
  .banner {
    // height: 70vh;
    background-image: url("../assets/images/home/banner-five-bg.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    // padding-top: 470px;

    .container {
      display: flex;
      justify-content: space-between;
      align-items: center;

      div {
        flex-basis: 45%;

        > h2 {
          //   color: yellow;
          font-size: 5.1rem;
          font-weight: 900;
          //   padding-top: 55px;
        }

        > p {
          margin-bottom: 0;
        }
      }

      .form {
        flex-basis: 40%;
        // padding-top: 55px;
      }
    }
  }

  .search-form-container {
    // background-color: red;
    background-image: url("../assets//images/home/banner-six-1.png"),
      linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5));
    // height: 100px;
    padding: 60px;
    background-size: cover;
    background-position: center;

    .search-form-items {
      background-color: rgba(0, 0, 0, 0.5);
      width: 80%;
      padding: 45px 15px;
      border-radius: 10px;
      margin: 0 auto;
    }

    .search-form {
      display: flex;
      justify-content: space-around;
    }

    button {
      display: block;
      background-color: #8b3eea;
      color: #fff;
      border: none;
      padding: 5px 20px;
      border-radius: 10px;
      font-weight: 600;
      margin: 0px auto;
      margin-top: 35px;
      font-size: 22px;

      &:hover {
        background-color: #6118bb;
      }
    }

    label {
      display: block;
      font-weight: 700;
      font-size: 20px;
      color: #fff;
    }

    input {
      padding: 10px;
      border-radius: 8px;
      border: 1px solid orangered;
      font-size: 22px;
      &:focus {
        // border: 5px solid green;
        outline: none;
      }
    }

    select {
      padding: 10px;
      border-radius: 8px;
      border: 1px solid orangered;
      color: grey;
      font-size: 22px;
      &:focus {
        // border: 5px solid green;
        outline: none;
      }
      option {
        color: black;
      }
    }
  }
}
