.home-page {
  .banner {
    // height: 70vh;
    background-image: url("../assets/images/home/banner-five-bg.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    // padding-top: 470px;

    .container {
      display: flex;
      justify-content: space-between;

      div {
        flex-basis: 45%;

        > h2 {
          font-size: 5.1rem;
          font-weight: 900;
          //   padding-top: 55px;
        }

        > p {
          margin-bottom: 0;
        }
      }

      .form {
        flex-basis: 40%;
        // padding-top: 55px;
      }
    }
  }
}
