@media screen and (width <= 1199px) {
  .navbar-nav {
    // background-color: red;
    margin-left: 0px;
  }

  .partner {
    // width: 136px;
  }
}
//////////////////////////////////////////////////////////////////////////

@media screen and (width <= 520px) {
  .bannerHome {
    h2 {
      font-size: 30px;
      width: 300px;
    }
  }
}
